
<%- include('partials/header') %>


<main data-barba="container" data-barba-namespace="home">

  <section class="grid">
    <% data.forEach((cat, i) => { %>
      <div class="img-wrapper">
        <picture>
          <source srcset="<%- cat.fields.file.url %>?fit=fill&w=900&fm=webp" type="image/webp">
          <img src="<%- cat.fields.file.url %>?fit=fill&w=900&fm=jpg" alt="<%- cat.fields.title %>">
        </picture>
      </div>
    <% }); %>
  </section>
</main>


<%- include('partials/footer') %>